html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* ------------------------------------------ */

body {
    min-height: 740px;
    font-family: "helvetica";
    color: rgb(62, 67, 62);
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

* {
    box-sizing: border-box;
}

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

ul {
    line-height: 1.41;
    font-size: 38px;
}

li {
    padding-left: 1em;
}

li::before {
    content: "— ";
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.slide q strong {
    white-space: nowrap;
}

.slide h1 {
    font-size: 50px;
}

.chrome-logo {
    width: 125px;    
}

#intro {
    text-align: center;
}

#intro img {
    padding-top: 4em;
    padding-bottom: 1em;
}

#intro .credentials {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
    text-align: right;
}

#disable-cache img {
    width: 100%;
}

#disable-cache .marker {
    position: absolute;
    border: 4px solid red;
    border-radius: 10px;
    /* z-index: 100; */
    left: 212px;
    top: 289px;
    width: 256px;
    height: 18px;
    box-sizing: content-box;
}

#dock-to-right q {
    margin: 25px;
}

#dock-to-right .marker {
    position: absolute;
    border: 5px solid red;
    border-radius: 10px;
    left: 769px;
    top: 208px;
    width: 26px;
    height: 23px;
    box-sizing: content-box;
}

#device-mode {
    width: 1000px;
    text-align:center;
    font-size: 80px;
    text-shadow: -3px -3px 3px rgba(200, 200, 220, 1);
}

#device-mode img {
    width: 74px;
    position:relative;
    top: 24px;
}

#workspace .workspace-title {
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
}

#theend {
    display: flex;
    align-items: center;
    justify-content: center;
}

#theend .content {
    padding-bottom: 1em;
    position: relative;
}

#theend .name {
    font-size: 40px;
}

#theend .credentials {
    margin-top: 4em;
    text-align: right;
}

#theend .credentials img {
    padding-right: 5px;   
}

#theend .credentials .twitter img {
    height: 24px;
    position: relative;
    top: 1px;
}

#theend .credentials .email img {
    height: 35px;
    position: relative;
    top: 6px;
    left: -3px;
}

